.navbar {
    margin: auto;
    max-width: 600px;

    .instagram-icon {
        width: 25px;
        margin-right: 10px;
    }

    .instagram-logo {
        width: 115px;
        margin-right: 35px;
        margin-left: 10px;
    }
}
